<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - longDistanceTrains</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/longDistanceTrains.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav>
        <ul class="half left">
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <p class="logo"><span class="redlogo">Shma</span>Train<span class="jd">ж/д билеты</span></p>
                </a>
            </li>
        </ul>
        <ul class="half right">
            <li class="vid">
                <a asp-controller="Home" asp-action="MyTickets">
                    Мои Билеты
                </a>
            </li>
            <li class="vid">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" id="profile">
                            Профиль
                        </a>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" id="login">
                            Войти
                        </a>
                    }
                }
            </li>
        </ul>
    </nav>
</header>
<div>
    <main role="main" class="pb-3">
        <div class="wrapper">
            @RenderBody()
        </div>
    </main>
</div>

<footer class="site-footer">
    <div class="footer-content">
        <p>© 2025 ShmaTrain. Все права защищены.</p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>