@page
@model LoginModel
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>

<div class="account">
    <div class="account-box">
        <h2>Вход</h2>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <span>Почта</span>
                <input class="inputLogin" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@gmail.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span>Пароль</span>
                <input class="inputLogin" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="•••••••••" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="float-end">
                <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
            </div>
            <button id="login-submit" class="btnLogin" type="submit">Войти</button>
            <p class="text-center mt-2">
                У вас всё ещё нет аккаунта? - <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрируйтесь</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
