@page
@using trains.Models
@model RegisterModel
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>

<div class="account">
    <div class="account-box">
        @if (User.IsInRole(GlobalConsts.ADMIN))
        {
            <h2>Регистрация Администратора</h2>
        }
        else
        {
            <h2>Регистрация</h2>
        }
        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <span>Имя</span>
                <input class="inputLogin" asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" placeholder="Кагуя Синомия" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span>Телефон</span>
                <input type="tel" class="inputLogin" asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="8 ••• ••• •• ••" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span>Почта</span>
                <input class="inputLogin" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@gmail.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span>Пароль</span>
                <input class="inputLogin" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="•••••••••" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span>Проверка пароля</span>
                <input class="inputLogin" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="•••••••••" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(GlobalConsts.ADMIN))
            {
                <button id="registerSubmit" type="submit" class="btnAdmin">Зарегестрировать Админа</button>
            }
            else
            {
                <button id="registerSubmit" type="submit" class="btnReg">Зарегестрироваться</button>
            }
            <p class="text-center mt-2">
                У вас уже есть аккаунт? - <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Войдите</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
