<link rel="stylesheet" href="~/css/adminIndex.css" asp-append-version="true"/>
<div class="hero">
    <h2>Администрирование</h2>
    <div class="verh">
        <div class="funcAdm" data-name="Билеты">Билеты</div>
        <div class="funcAdm" data-name="Маршруты">Маршруты</div>
        <div class="funcAdm" data-name="Составы">Составы</div>
    </div>
    <div class="funcAdm dlin" data-name="Расписание">Расписание</div>
</div>