<link rel="stylesheet" href="~/css/routesBrowse.css" asp-append-version="true"/>
<div class="hero">
    <li class="closeLi">
        <img src="~/images/close.png" class="close" alt="">
    </li>
    <h1>Маршруты</h1>
    <button class="addRouteButton">Добавить маршрут</button>
    <div class="string">

        <div class="lines">
            <div class="stations">
                <input class="city-input" type="text" placeholder="Город отправления" disabled>
                <img class="lineRoute" src="~/images/Line2.png" alt="Маршрут">
                <input class="city-input" type="text" placeholder="Город прибытия" disabled>
            </div>
            <div class="stops">
                <br>
                <input class="stops-input" type="text" placeholder="Промежуточные остановки" disabled>
            </div>
            <div class="knop">
                <input class="city-input priceIn" type="text" placeholder="Цена" disabled>
                <button class="delBut">Удалить</button>
            </div>
        </div>
        
    </div>
</div>