<link rel="stylesheet" href="~/css/routesRedaction.css" asp-append-version="true"/>
<div class="hero">
    <li class="closeLi">
        <img src="~/images/close.png" class="close" alt="">
    </li>
    <h1>Радатирование маршрута</h1>
    <div class="string">
        <div class="lines">
            <div class="stations">
                <input class="city-input" type="text" placeholder="Город отправления">
                <img class="lineRoute" src="~/images/Line2.png" alt="Маршрут">
                <input class="city-input" type="text" placeholder="Город прибытия">
            </div>
            <div class="stops">
                <p>Промежуточные остановки (через запятую):</p>
                <input class="stops-input" type="text" placeholder="Введите остановки">
            </div>
            <div class="knop">
                <input class="city-input priceIn" type="text" placeholder="Цена" disabled>
                <button class="saveBut">Сохранить</button>
            </div>
        </div>
    </div>
</div>