<link rel="stylesheet" href="~/css/schedulesRedaction.css" asp-append-version="true"/>
<div class="hero">
    <li class="closeLi">
        <img src="~/images/close.png" class="close" alt="">
    </li>
    <h1>Радатирование расписания</h1>
    <div class="route">
                
        <div class="stations">
            <div class="fromTo">
                <input class="city-input" type="text" placeholder="Город отправления" disabled>
                <img class="lineRoute" src="~/images/Line2.png" alt="Маршрут">
                <input class="city-input" type="text" placeholder="Город прибытия" disabled>
            </div>
            <div class="station">
                <span class="station-name">Москва</span>
                <input class="time-input" type="time" placeholder="Введите время">
            </div>
            <div class="station">
                <span class="station-name">Тверь</span>
                <input class="time-input" type="time" placeholder="Введите время">
            </div>
            <div class="station">
                <span class="station-name">Санкт-Петербург</span>
                <input class="time-input" type="time" placeholder="Введите время">
            </div> 
            <div class="chuchuka">
                <select class="routeTitle" name="route-title" id=""></select>
                <button class="saveSchel" id="">Сохранить</button>
            </div>          
                       
        </div>
    </div>
</div>