<link rel="stylesheet" href="~/css/schedulesBrowse.css" asp-append-version="true"/>
<div class="hero">
    <li class="closeLi">
        <img src="img/close.png" class="close" alt="">
    </li>
    <h1>Расписание</h1>
    <button class="addRouteButton">Добавить расписание</button>
    <div class="string">
        <div class="lines">
            <div class="stations">
                <input class="city-input" type="text" placeholder="Город отправления" disabled>
                <img class="lineRoute" src="~/images/Line2.png" alt="Маршрут">
                <input class="city-input" type="text" placeholder="Город прибытия" disabled>
            </div>
            <hr>
            <div class="stops">
                <input class="stops-input" type="text" placeholder="Промежуточная остановка" disabled>
                <input class="stops-input stationP" type="text" placeholder="Время прибытия" disabled>
            </div>
            <div class="stops">
                <input class="stops-input" type="text" placeholder="Промежуточная остановка" disabled>
                <input class="stops-input stationP" type="text" placeholder="Время прибытия" disabled>
            </div>
            <div class="stops">
                <input class="stops-input" type="text" placeholder="Промежуточная остановка" disabled>
                <input class="stops-input stationP" type="text" placeholder="Время прибытия" disabled>
            </div>
            <div class="knop">
                <select class="routeTitle" name="route-title" id=""></select>
                <button class="delBut">Удалить</button>
            </div>
        </div>
    </div>
</div>