<link rel="stylesheet" href="~/css/trainsBrowse.css" asp-append-version="true"/>
<div class="hero">
    <li class="closeLi">
        <img src="~/images/close.png" class="close" alt="">
    </li>
    <h1>Составы</h1>
    <div class="aboutWagon"> 
        <div class="abWa">
            <p>Плацкарт – </p>
            <img src="~/images/vagonEdit.png" class="wagon red" data-index="" alt="">
        </div>
        <div class="abWa">
            <p>Купе – </p>
            <img src="~/images/vagonEdit.png" class="wagon yellow" data-index="" alt="">
        </div>
        <div class="abWa">
            <p>СВ (спальный вагон) – </p>
            <img src="~/images/vagonEdit.png" class="wagon blue" data-index="" alt="">
        </div>
        <div class="abWa">
            <p>Вагон-ресторан – </p>
            <img src="~/images/vagonEdit.png" class="wagon green" data-index="" alt="">
        </div>
    </div>
    <button class="addButTrain" id="add-train">Добавить состав</button>
        <div class="train">
            <div class="sostNum">
                <p>Номер состава:</p>
                <input type="text" id="train-number" class="train-number-input" placeholder="" disabled>
                <button class="trainEditBut" id="add-train">Редактировать</button>
                <button class="" id="add-train">Удалить</button>
            </div>
            <div class="trainSost"><!-- Локомотив -->
                <img class="train-head" src="~/images/trainEdit.PNG" alt="Локомотив">

                <!-- Вагончики -->
                <img src="~/images/vagonEdit.png" class="wagon" data-index="1" alt="Вагон 1">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="2" alt="Вагон 2">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="3" alt="Вагон 3">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="4" alt="Вагон 4">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="5" alt="Вагон 5">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="6" alt="Вагон 6">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="7" alt="Вагон 7">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="8" alt="Вагон 8">
                <img src="~/images/vagonEdit.png" class="wagon" data-index="9" alt="Вагон 9">

                <img class="train-head revers" src="~/images/trainEdit.PNG" alt="Локомотив">
            </div>
            
            <hr>
        </div>
        
    </div>
